#blog-header {
	#single-blog-bottom-header {
		display         : flex;
		justify-content : center;
		padding         : 8rem 0rem;
		text-align      : center;
		background      : linear-gradient($linear-gradient-color, $linear-gradient-color),
		url("https://source.unsplash.com/daily") center center/cover no-repeat;

		div {
			color     : $front-middle-header-color;
			position  : relative;
			top       : 50%;
			transform : translateY(-20%);

			h1 {
				font-size     : 6rem;
				font-weight   : 300;
				margin-bottom : 1rem;
			}

			p {
				font-size : 2.4rem;
			}
		}
	}
}

#blog-posts {
	.container {
		#main-blog-side {
			#single-blog-page {
				margin  : 2.4rem;
				display : block;

				.image {
					padding : 0 2rem 2rem 0;
					float   : left;
				}

				.paragraph {
					p {
						text-align  : justify;
						font-size   : 1.4rem;
						font-weight : 400;
					}
				}
			}
		}
	}
}